h1,
h2,
h3,
p,
.App,
html,
body,
#root {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.App {
  min-height: 100vh;
  background-color: lightgray;
}

.logo-wrapper {
  height: 60px;
  width: 200px;
  background-image: url(/images/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.header {
  /* padding-bottom: 0.2rem; */
}

.innerNav {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 4px;

  max-width: 72rem;
  margin: 0 auto;
  font-size: 0.8rem;
  width: 94%;
}

#topNav,
#mainNavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mainNavBar {
  min-height: 2rem;
  margin-top: 0.6rem;
  background-color: white;
  border-radius: 0.1rem;
}

#languageOptions {
  /* display: flex; */
  text-align: right;
}

#languageOptions a {
  margin-left: 1rem;
}

.header ul {
  margin-bottom: 0;
  display: flex;
}

#navList > li {
  margin-left: 1rem;
}

#mainNavList {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

#mainNavList > li {
  margin-right: 1rem;
  margin-left: 1rem;
}

#sideBar {
  width: 30%;
}

#sideBarCategories {
}

#navCategories {
  background-color: white;
  margin: 0;
  /* background: url(/images/marker2.png) 0 50% no-repeat; */
  padding-left: 10px;
}

/* fancy BOX  */
.fancybox-ad {
  position: relative;
  width: 700px;
  height: 300px;
  background-color: #eee;
  text-transform: uppercase;
}

.fancybox-ad [class*="col"] {
  padding: 0;
}

.fancybox-ad .header {
  padding: 20px;
  margin: 0px 15px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #e4e4e4;
}

.fancybox-ad .off {
  line-height: 45px;
  font-size: 50px;
  float: left;
  margin-right: 14px;
  text-shadow: 0px 1px 0px #969191;
  -webkit-text-shadow: 0px 1px 0px #969191;
}

.fancybox-ad .special-text {
  color: #df0a71;
}

.fancybox-ad .main {
  margin: 0px 15px;
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #fff;
}

.fancybox-ad input[type="text"] {
  border-radius: 0px;
  border: 1px solid #000;
  padding: 8px 10px;
}

.fancybox-ad .btn {
  padding: 8px 20px;
  height: 40px;
  color: #fff;
  background-color: #000;
  border-radius: 0px;
}

.fancybox-ad .list-inline > li {
  padding-right: 0;
}

.fancybox-ad .list-inline > li .round-icon {
  border-color: #eee;
}

.fancybox-ad .social-icon {
  margin-top: 80px;
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.fancybox-skin {
  border-radius: 0px !important;
}

.fancybox-inner {
  overflow: hidden !important;
}

.icon-01 {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.icon-02 {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icon-03 {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.product {
  position: relative;
  padding: 10px;
  background-color: #fff;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.product .entry-media {
  position: relative;
  background-color: #ccc;
  min-height: 150px;
  text-align: center;
}

.product .sale-icon {
  text-transform: uppercase;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 2;
  color: #fff;
  padding: 5px 10px;
  background-color: #df0a71;
}

.product .entry-main {
  margin-top: 10px;
  background-color: #fff;
  color: #1f1f1f;
}

.product .recent-order {
  float: right;
}

.product .price {
  display: inline-block;
  font-size: 18px;
  color: #888686;
}

.product .remove-icon {
  display: none;
  color: #000;
  top: -10px;
  right: -10px;
  font-size: 25px;
}

.photo-wrapper {
  position: relative;
  overflow: hidden;
}

.photo-wrapper a {
  padding: 10px;
}

.photo-wrapper .icon-style {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.photo-wrapper .icon-style i {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  top: -60px;
  display: inline-block;
  height: 35px;
  width: 35px;
  color: #fff;
  font-size: 20px;
  line-height: 35px;
  background-color: #575555;
  -moz-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
}

.photo-wrapper .icon-style i:hover {
  color: #df0a71;
  background-color: #fff;
}

.photo-wrapper:hover .icon-style i {
  top: 50%;
  margin-top: -35px;
}

.photo-wrapper:hover .remove-icon {
  display: block;
}

.noUiSlider {
  height: 10px;
}

.noUiSlider .noUi-target {
  border: none;
}

.noUiSlider .noUi-handle {
  background: transparent url("/images/img-slider-handle.png") no-repeat top
    left;
  border-radius: 0;
  cursor: pointer;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  box-shadow: none;
  border: 0;
}

.noUiSlider .noUi-handle:after,
.noUiSlider .noUi-handle:before {
  display: none;
}

.noUiSlider .noUi-background {
  height: 8px;
  background-color: #fafafa;
}

.noUiSlider .noUi-background .noUi-handle {
  margin-left: 3px;
}

.noUiSlider .noUi-connect {
  background: #df0a71 url("/images/bg-slider-stripes.png") repeat-x !important;
  cursor: pointer;
  border-top: 1px solid rgba(150, 150, 150, 0.2);
}

.noUiSlider .noUi-connect .noUi-handle {
  margin-left: 14px;
}

.range-slider-value {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #919191;
}

.view-filter span {
  position: relative;
  margin-right: 20px;
  line-height: 30px;
}

.view-filter span:after {
  content: ".";
  text-indent: -100px;
  display: block;
  background: url(/images/list-2013.png) no-repeat 0 -1635px;
  width: 10px;
  height: 10px;
  position: absolute;
  right: -15px;
  top: 5px;
  overflow: hidden;
}

.view-filter span.filter-price span:after {
  background-position: 0 -1847px !important;
}

[class^="filter"] ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filter-block li {
  display: inline-block;
}

.filter-block .round-icon {
  width: 2.5em;
  height: 2.5em;
  padding-top: 0.6em;
}

.filter-size .round-icon {
  font-size: 14px;
}

.filter-size .round-icon:hover {
  border-color: #df0a71;
  color: #df0a71;
}

.filter-color .round-icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.filter-color .round-icon:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/*================================
product layout - list
=======================================*/
.products-layout > div {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.products-layout .product {
  margin-bottom: 20px;
}

.products-layout .product .visible-list {
  display: none;
}

.products-layout.list [class*="col-"] {
  width: 100%;
}

.products-layout.list .photo-wrapper {
  display: table-cell;
  width: 140px;
}

.products-layout.list .entry-main {
  display: table-cell;
  vertical-align: top;
  padding: 0px 10px;
}

.products-layout.list .entry-main .price {
  margin-top: 0;
}

/* BANNER - BLOCK */
.banner-block .banner-item {
  position: relative;
  overflow: hidden;
}

.banner-block .banner-item img {
  border: 10px solid #303030;
  width: 100%;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.banner-block .banner-item .titles {
  position: absolute;
  left: 22px;
  bottom: 5px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.banner-block .banner-item .title02 {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-block .banner-item .title03 {
  font-weight: bold;
  color: #666666;
  margin-top: -15px;
}

.banner-block .banner-item .triangle {
  position: absolute;
  top: 0;
  left: 10px;
  border-top: 200px solid transparent;
  border-left: 273px solid rgba(0, 0, 0, 0.8);
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.banner-block .banner-item:hover .triangle,
.banner-block .banner-item:hover .titles {
  left: -300px;
}

.banner-block .banner-item:hover img {
  border-color: #fff;
}
.product {
  width: 33%;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.product-carousel-container {
  position: relative;
}
.product-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 480px;
}
.carouselNavigation {
  position: absolute;
  top: 0;
  right: 0;
}

.round-icon {
  display: block;
  width: 2em;
  height: 2em;
  padding-top: 6px;
  text-align: center;
  border: 1px solid #888686;
  background-color: ;
}

/* Newsletter section */
.newsletter {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  background-color: #000;
}

.newsletter span {
  font-size: 18px;
  line-height: 1.5em;
}

.newsletter input[type="email"] {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 100%;
}

/* FOOTER  */

.footer {
  height: 250px;
  width: calc(100%-40px);
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.main {
  height: 800px;
  margin: 20px auto;
  flex-direction: row;
  display: flex;
  width: 94%;
}

#footer-div-1 {
  width: 100%;
  height: 90%;
  flex-direction: row;
  display: flex;
}

#footer-div-2 {
  width: 100%;
  height: 10%;
  background-color: #eee;
}

#footer-column1,
#footer-column2,
#footer-column3,
#footer-column4 {
  width: 25%;
  height: 100%;
  color: red;
  align-items: center;
  justify-content: center;
}

.wall {
  /*   width: 70%; */

  margin: 0 10px;
}

.img-wrapper {
  position: relative;
  margin: 0 0 10px;
}
